---
http_interactions:
- request:
    method: get
    uri: https://serpapi.com/search.json?api_key=<RGT_TOKEN>&data_type=TIMESERIES&engine=google_trends&q=TSMC
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c56162baed852918e6d2dae83a60fbe3"
      Serpapi-Search-Id:
      - 63539c918cd8783de3a34622
    body:
      encoding: UTF-8
      string: |-
        {
          "search_metadata": {
            "id": "63539c918cd8783de3a34622",
            "status": "Success",
            "json_endpoint": "https://serpapi.com/searches/d248205edaf288b7/63539c918cd8783de3a34622.json",
            "created_at": "2022-10-22 07:32:33 UTC",
            "processed_at": "2022-10-22 07:32:33 UTC",
            "google_trends_url": "https://trends.google.com/trends/api/explore?tz=420&req=%7B%22comparisonItem%22%3A%5B%7B%22keyword%22%3A%22TSMC%22%2C%22geo%22%3A%22%22%2C%22time%22%3A%22today+12-m%22%7D%5D%2C%22category%22%3A0%2C%22property%22%3A%22%22%7D",
            "raw_html_file": "https://serpapi.com/searches/d248205edaf288b7/63539c918cd8783de3a34622.html",
            "prettify_html_file": "https://serpapi.com/searches/d248205edaf288b7/63539c918cd8783de3a34622.prettify",
            "total_time_taken": 1.58
          },
          "search_parameters": {
            "engine": "google_trends",
            "q": "TSMC",
            "date": "today 12-m",
            "tz": "420",
            "data_type": "TIMESERIES"
          },
          "interest_over_time": {
            "timeline_data": [
              {
                "date": "Oct 24 – 30, 2021",
                "values": [
                  {
                    "query": "TSMC",
                    "value": "48",
                    "extracted_value": 48
                  }
                ]
              },
              {
                "date": "Oct 31 – Nov 6, 2021",
                "values": [
                  {
                    "query": "TSMC",
                    "value": "47",
                    "extracted_value": 47
                  }
                ]
              },
              {
                "date": "Nov 7 – 13, 2021",
                "values": [
                  {
                    "query": "TSMC",
               [...]
